%sans-light{
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}
%sans-regular{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}
%sans-bold{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
}


// COLOR

$tuna: #2E2E38;
$amaranth: #EF454E;
$black: #000000;
$yellow-orange: #FFBF43;
$white: #FFFFFF;
$shark: #1F1F27;
$scorpion: #585858;
$silver: #C4C4C4;
$concrete: #F3F3F3;
