@import 'libs/module';
@import 'core/module';
@import 'components/module';

.flex-container {
    margin: 0 auto;
    width: 80%;
    max-width: 1920px;
    padding: 0 1rem;
}
.container {
    margin: 0 auto;
    width: 60%;
    max-width: 1920px;
    padding: 0 1rem;
}