.box {
    :hover.box__content {
        cursor: pointer;
        transform: scale(1.1);
        transition-duration: 0.2s;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
        transition: box-shadow .3s;
    }
    :hover h1 {
        color: $amaranth;
    }

    &__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        background: $white;
        border-radius: 4px;
        width: 100%;
        padding: 40px;
    }

    &__header {
        color: $black;
        font-size: 16px;
        line-height: 32px;
    }

    &__img {
        height: 100px;
        width: 100px;
        border: 1px solid $silver;
        box-sizing: border-box;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            max-width: 50px;
            max-height: 50px;
        }
        
        span {
            display: none;
            color: $scorpion;
            @extend %sans-light;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
        }
    }

    &__text {
        padding: 0 20px;
        width: 78%;
        h1 {
            padding-bottom: 5px;
            color: $black;
            @extend %sans-bold;
            font-size: 18px;
            line-height: 21px;
        }

        h2 {
            padding-bottom: 5px;
            color: $black;
            @extend %sans-light;
            font-size: 16px;
            line-height: 19px;
        }
        
        h3 {
            padding-top: 6px;
            color: $black;
            @extend %sans-bold;
            font-size: 16px;
            line-height: 19px;
            span {
                color: $scorpion;
                @extend %sans-light;
            }
        }
    }

    &__save {
        width: 100px;
        :hover.box__btn-save {
            transform: scale(1.1);
            transition-duration: 0.2s;
        }
        :hover.box__btn-save img {
            transform: scale(1.2);
            transition-duration: 0.2s; 
            opacity: 0.8;
        }
    }

    &__btn-save {
        border: none;
        padding: 12px;
        border-radius: 4px;
        background-color: $concrete;
        cursor: pointer;

        span {
            color: $scorpion;
            @extend %sans-light;
            font-size: 14px;
            line-height: 16px;
        }
    }


    @include mq("tablet"){
        
        &__content{
            flex-wrap: wrap;
            justify-content: center;
            padding-left: 5px;
            padding-right: 5px;
        }

        &__img {
            order: 0;
            margin-right: 10px;
        }

        &__text {
            order: 2;
            padding-top: 20px;
            width: 90%;
        }

        &__save{
            margin-left: 10px;
        }
    }

    @include mq("phablet"){
        :hover.box__content {
            transform: scale(1.02);
        }
        &__text {
            width: 100%;
            padding-left: 5px;
            padding-right: 5px;
        }
    }

}
